.page-header
  = link_to rounds_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_round_path(@round), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show round

%dl.dl-horizontal
  %dt Name:
  %dd= @round.name
