.container.theme-showcase{:role => "main"}
  .jumbotron
    .row.featurette.screen-instructions
      .col-md-7
        %div
          %img.img-responsive{:alt => "Citi logo", :src => "images/citi-logo-long.png"}/
        %h4 About
      .col-md-7.screen-instructions.screen-instructions
        .screen-instructions
          %i Citi From the Outside In
          Workshop and Simulation were developed for Citi by Performance Solutions International (PSI). PSI is a leading provider of performance improvement services that empower professionals with the knowledge, skills and tools they need to succeed in today's highly competitive financial services industry.
        .screen-instructions
        
          PSI’s simulations are extremely powerful learning tools that immerse participants in the day-to-day pressures experienced by senior industry executives. "Playing the role of top management" provides participants with an experiential understanding of the business needs and goals of senior bank executives.
        .screen-instructions
        
          For more information about PSI, go to
          = succeed "." do
            %a{:href => "http://www.goto-psi.com", :style => "color: #FFFFFF; text-decoration: underline;" , :target => '_blank'} www.goto-psi.com
