.container-fluid
  .jumbotron
    %div
      %img{:alt => "Citi logo", :src => "/images/citi-logo-long.png"}/
    .home-title
    .home-message
      Welcome to the
      %i
        Citi From the Outside In
      simulation! Throughout this simulation, you will work in teams to:
      %ul
        %li
          Evaluate economic and market conditions in a fictional, simulated environment
        %li
          Make executive-level business decisions for your bank
        %li
          Monitor your bank’s ongoing financial performance
      .msg
        You will compete against other teams throughout the simulation. At the end of four rounds, the team with the highest shareholder value will win the simulation!

        To begin entering your team’s decisions, choose a decision category below.


    .input-screen-selections
      .list-group
        - @round.input_screens.each do |is|
          %a.list-group-item.input-screen-button{ 'data-input-screen-id' => is.id , 'data-team-round-id' => current_team_round.id }
            = is.navigation_label
            - if is.has_decisions(@team_round)
              %span.badge
                Done

